
<!--<section class="u-align-center u-black u-clearfix u-container-style u-dialog-block u-opacity u-opacity-70 u-section-4" id="sec-0658">-->
<!--    <div class="u-container-style u-dialog u-palette-5-light-3 u-dialog-1">-->
<!--        <div class="u-container-layout u-valign-top u-container-layout-1">-->
<!--            <h3 class="u-text u-text-default u-text-1">Tilføj Dokument</h3>-->
<!--            <div class="u-expanded-width u-form u-form-1">-->
<!--                -->
<!--                <form action="/addDocument" method="POST" class="u-clearfix u-form-horizontal u-form-spacing-10 u-inner-form" style="padding: 10px" source="custom" name="form">-->
<!--                    <div class="u-form-email u-form-group u-form-group-1">-->
<!--                        <label class="u-form-control-hidden u-label">Fil</label>-->
<!--                        <input type="file"-->
<!--                               class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white"-->
<!--                               name="file"-->
<!--                               placeholder="Fil Lokation">-->
<!--                        <input hidden name="caseId" th:value="${case.getCaseId()}">-->
<!--                    </div>-->

<!--                    <div class="u-form-email u-form-group u-form-group-1">-->
<!--                        <label class="u-form-control-hidden u-label">Navn</label>-->
<!--                        <input type="text"-->
<!--                               class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white"-->
<!--                               name="navn"-->
<!--                               placeholder="Navn">-->
<!--                    </div>-->

<!--                    <div class="u-align-left u-form-group u-form-submit u-form-group-2">-->
<!--                        <a href="" class="u-border-0 u-btn u-btn-submit u-button-style u-hover-palette-1-dark-1 u-palette-1-base u-btn-1">UPLOAD</a>-->
<!--                        <input type="submit" value="submit" class="u-form-control-hidden">-->
<!--                    </div>-->
<!--                    <div class="u-form-send-message u-form-send-success"> Thank you! Your message has been sent. </div>-->
<!--                    <div class="u-form-send-error u-form-send-message"> Unable to send your message. Please fix errors then try again. </div>-->
<!--                    <input type="hidden" value="" name="recaptchaResponse">-->
<!--                </form>-->
<!--            </div>-->
<!--        </div>-->

<!--        <button class="u-dialog-close-button u-icon u-text-grey-40 u-icon-1">-->
<!--            <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 348.333 348.334" style="">-->
<!--                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-9711"></use>-->
<!--            </svg><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content" viewBox="0 0 348.333 348.334" x="0px" y="0px" id="svg-9711" style="enable-background:new 0 0 348.333 348.334;">-->
<!--        <g>-->
<!--            <path d="M336.559,68.611L231.016,174.165l105.543,105.549c15.699,15.705,15.699,41.145,0,56.85   c-7.844,7.844-18.128,11.769-28.407,11.769c-10.296,0-20.581-3.919-28.419-11.769L174.167,231.003L68.609,336.563   c-7.843,7.844-18.128,11.769-28.416,11.769c-10.285,0-20.563-3.919-28.413-11.769c-15.699-15.698-15.699-41.139,0-56.85   l105.54-105.549L11.774,68.611c-15.699-15.699-15.699-41.145,0-56.844c15.696-15.687,41.127-15.687,56.829,0l105.563,105.554   L279.721,11.767c15.705-15.687,41.139-15.687,56.832,0C352.258,27.466,352.258,52.912,336.559,68.611z">-->

<!--            </path>-->
<!--        </g>-->
<!--        </svg>-->
<!--        </button>-->
<!--    </div>-->
<!--</section>-->
