<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<section th:fragment="timeline(dates, mainTask)">
    <div class="chart-wrapper" >
        <div class="timeline-header">
<!--            todo add month slider -->
            <script th:src="@{/js/timeline.js}"></script>
            <link rel="stylesheet" th:href="@{/css/timeline.css}">
            <ul class="chart-values">
                <li th:attr="data-period=${day}" th:each="day : ${dates}"
                    th:text="${day.getDayOfWeek().name()}+'  '+${day.getDayOfMonth()}"></li>
            </ul>
            <ul class="chart-bars">
                <li data-color="#00BCD4" th:attr="data-duration=${task?.getStartDate()}+'/'+${task?.getDeadline()},
                data-percentage_done=${task?.getPercentageDone()},
                data-href=${'#'+task?.getId()}"
                    th:each="task: ${mainTask?.getSubtasksAsList() ?: superTask?.getSubtasksAsList()} "
                    th:text="${task?.name}+' '+${task?.getPercentageDone().toString()}+'%'"
                >
                </li>
            </ul>
        </div>
    </div>


    <div th:each="task: ${mainTask?.getSubtasksAsList()}">
        <div th:replace="/modals/taskModal.html :: taskModal(${task})">

        </div>
    </div>
</section>

</html>