<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link media="screen" rel="stylesheet" th:href="@{/css/caseDetails.css}" type="text/css">
    <link media="screen" rel="stylesheet" th:href="@{/css/nicepage.css}" type="text/css">
    <link media="screen" rel="stylesheet" th:href="@{/css/fremTilbage.css}" type="text/css">
    <script class="u-script" defer="" th:src="@{/js/jquery.js}" type="text/javascript"></script>
    <script class="u-script" defer="" th:src="@{/js/nicepage.js}" type="text/javascript"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" id="u-theme-google-font"
          rel="stylesheet">
</head>
<div th:fragment="timeline(dates, mainTask)">
        <div class="u-clearfix u-sheet u-sheet-1" style="text-align: center">
            <a href="https://nicepage.com/templates" style="display: inline-block ; float: left" class="u-btn u-button-style u-btn-1">Tilbage</a>
            <h3 th:href="'/timeline/'+${mainTask.getSuperTask().getTaskId()}+'/'+${dates.get(0).getMonthValue()}+'/'+${dates.get(0).getYear()}" class="u-text u-text-default u-text-1" style="display: inline-block">Gå til over opgave</h3>
            <h3 th:href="'/timeline/'+${mainTask?.getSuperTask().getTaskId()}+'/'+${dates.get(0)?.getMonthValue()}+'/'+${dates.get(0)?.getYear()}" class="u-text u-text-default u-text-1" style="display: inline-block">Gå til over opgave</h3>
            <a href="https://nicepage.com/templates"  style="display: inline-block ; float: right" class="u-btn u-button-style u-btn-2">Frem</a>
        </div>
    <div class="chart-wrapper" >
        <div class="timeline-header">
            <script th:src="@{/js/timeline.js}"></script>
            <!--            todo add month slider -->
            <link rel="stylesheet" th:href="@{/css/timeline.css}">
            <ul class="chart-values">
                <li th:attr="data-period=${day}" th:each="day : ${dates}"
                    th:text="${day.getDayOfWeek().name()}+'  '+${day.getDayOfMonth()}"></li>
            </ul>
            <ul class="chart-bars" style="padding-left: 0px">
                <li data-color="#00BCD4" th:attr="data-duration=${task?.getStartDate()}+'/'+${task?.getDeadline()},
                data-percentage_done=${task?.getPercentageDone()},
                data-href=${'#'+task?.getId()}"
                    th:each="task: ${mainTask?.getSubtasksAsList() ?: superTask?.getSubtasksAsList()} "
                    th:text="${task?.name}+' '+${task?.getPercentageDone().toString()}+'%'"
                >
                </li>
            </ul>
        </div>
    </div>

    <div th:each="task: ${mainTask?.getSubtasksAsList() ?: superTask.getSubtasksAsList()}">
        <a th:replace="/modals/taskModal.html :: taskModal(${task})"></a>
    </div>
</div>
</html>