<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="containerList">

<div class="u-clearfix u-sheet u-sheet-1">
    <div class="u-table u-table-responsive u-table-1">
        <h2>her skal der være containere</h2>
        <table class="u-table-entity">
            <colgroup>
                <col width="25%">
                <col width="15%">
                <col width="15%">
                <col width="15%">
                <col width="15%">
                <col width="15%">
            </colgroup>
            <thead class="u-palette-4-base u-table-header u-table-header-1">
            <tr style="height: 35px;">
                <th class="u-border-1 u-border-palette-4-base u-table-cell">Container navn</th>
                <th class="u-border-1 u-border-palette-4-base u-table-cell">Daglige omkostninger</th>
                <th class="u-border-1 u-border-palette-4-base u-table-cell">Antal dage</th>
                <th class="u-border-1 u-border-palette-4-base u-table-cell">Pris for afhentning</th>
                <th class="u-border-1 u-border-palette-4-base u-table-cell">Afhentet</th>
                <th class="u-border-1 u-border-palette-4-base u-table-cell"></th>
            </tr>
            </thead>
            <tbody class="u-table-body">
            <tr style="height: 78px;" th:each="container: ${containerlist}">
                <td class="u-border-1 u-border-grey-30 u-first-column u-grey-5 u-table-cell u-table-cell-5"
                    th:text="${container.getContainerName()}"></td>
                <td class="u-border-1 u-border-grey-30 u-table-cell"
                    th:text="${container.getDailyCost()} + ' ' + ${person.getLastName()}"></td>
                <td class="u-border-1 u-border-grey-30 u-table-cell"
                    th:text="${container.getNumberOfDays()}"></td>
                <td class="u-border-1 u-border-grey-30 u-table-cell"
                    th:text="${container.getPickUpPrice()}"></td>
                <td class="u-border-1 u-border-grey-30 u-table-cell"
                    th:text="${container.getIsPickedUp()}"></td>
                <td class="u-border-1 u-border-grey-30 u-table-cell">
                    <a th:href="@{'/deleteContainer/' + ${container.getContainerId()} + '/' + ${viewCase.getCaseId()}}">
                        <button onclick="return confirm('Er du sikker?')" style="background-color: crimson; color: white"
                                type="button">
                            Slet
                        </button>
                    </a>
                    <a th:href="@{'/updateContainer/'+${container.getContainerId()}}">
                        <button type="button" class="u-btn u-button-style u-btn-1" style="background-color: #478ac9; color: white; width: 122.133px">
                            Opdater
                        </button>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
        <div>
            <button th:replace="modals/container-modal.html :: container-modal(${viewCase.getCaseId()})"></button>
        </div>
    </div>
</div>

</div>