<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="u-container-layout u-container-layout-4" th:fragment="tool-list(tools)">
    <h2>Liste over værktøjer og maskiner tilknyttet denne sag</h2>
    <div class="u-expanded-width u-table u-table-responsive u-table-1">
        <table class="u-table-entity u-table-entity-1">
<!--            <colgroup>-->
<!--                &lt;!&ndash;              set different column width of table&ndash;&gt;-->
<!--                <col width="11.7%">-->
<!--                <col width="13.6%">-->
<!--                <col width="17.5%">-->
<!--                <col width="14.3%">-->
<!--                <col width="14.3%">-->
<!--                <col width="14.6%">-->
<!--            </colgroup>-->
            <thead class="u-palette-4-base u-table-header u-table-header-1">
            <tr style="height: 21px;">
                <th class="u-border-1 u-border-palette-4-base u-table-cell">Serie Nummer</th>
                <th class="u-border-1 u-border-palette-4-base u-table-cell">Type</th>
                <th class="u-border-1 u-border-palette-4-base u-table-cell">Model</th>
                <th class="u-border-1 u-border-palette-4-base u-table-cell">Lejet</th>
                <th class="u-border-1 u-border-palette-4-base u-table-cell">Daglige omkostninger</th>
                <th class="u-border-1 u-border-palette-4-base u-table-cell">sags nr</th>
            </tr>
            </thead>
            <tbody class="u-table-body">
            <tr style="height: 75px;" th:each="tool: ${tools}">
                <td style="column-span : 1;" class="u-border-1 u-border-grey-30 u-table-cell" th:text="${tool?.getSerialNr()}">Serie Nummer</td>
                <td style="column-span : 1;" class="u-border-1 u-border-grey-30 u-table-cell" th:text="${tool?.getType()}">Type</td>
                <td style="column-span : 1;" class="u-border-1 u-border-grey-30 u-table-cell" th:text="${tool?.getModel()}">Model</td>
                <td style="column-span : 1; text-align:center" class="u-border-1 u-border-grey-30 u-table-cell">
                    <input type="checkbox" value="true" disabled th:checked="${tool?.isRented()}" readonly="true"
                           style="transform: scale(2.5)">
                </td>
                <td style="column-span : 1;" class="u-border-1 u-border-grey-30 u-table-cell" th:text="${tool?.getDailyCost()}">daglige omkostnigner</td>
                <td style="column-span : 1;" th:if="${tool?.getInfo()!=null}" class="u-border-1 u-border-grey-30 u-table-cell" th:text="${tool?.getInfo().getCaseId()} ?: 'ikke i brug'">nuværende sag</td>
                <td th:unless="${tool?.getInfo()!=null}" class="u-border-1 u-border-grey-30 u-table-cell" th:text="'ikke i brug'">nuværende sag</td>
            </tr>
            <tr>
                <td style="column-span: 6;"
                    class="u-border-1 u-border-grey-30 u-table-cell"
                    th:text="'daglige omkostninger for værktøj og maskiner = '+${#aggregates.sum(tools.![dailyCost])}"></td>
            </tr>
            </tbody>
        </table>
        <div class="totalpris" th:summary="${tools}">

        </div>
    </div>
</div>
</body>
</html>