.u-section-1 .u-sheet-1 {
  min-height: 217px;
}

.u-section-1 .u-btn-1 {
  margin: 46px auto 0 0;
}

.u-section-1 .u-btn-2 {
  margin: -45px 0 0 auto;
}

.u-section-1 .u-text-1 {
  margin: -45px auto 60px;
  position: center;
}