

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}


.chart-wrapper {

    --white: #fff;
    --divider: lightgrey;

    overflow:hidden;
    overflow-x:scroll;
    overflow: scroll;
    font-size: 12px;
    font-family: sans-serif;
    padding: 40px;
    max-width: 1150px;
    max-height: 800px;
    min-height: 800px;

    margin: 0 auto;
}


/* CHART-VALUES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.chart-wrapper .chart-values {
    position: relative;
    display: flex;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 1rem;
}

.chart-wrapper .ul
{
    list-style-type: list-item;
}

.chart-wrapper .chart-values li {
    list-style-type: none;
    flex: 1;
    min-width: 140px;
    text-align: center;
    border-right: 1px solid var(--divider);
}

.chart-wrapper .chart-values li:not(:last-child) {
    position: relative;
}

.chart-wrapper .chart-values li:not(:last-child)::before {
    content: '';
    position: absolute;
    right: 0;
    height: 1800px;
}

/* CHART-BARS
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.chart-wrapper .chart-bars li {
    position: relative;
    color: var(--white);
    margin-bottom: 15px;
    font-size: 16px;
    border-radius: 20px;
    padding: 10px 20px;
    width: 0;
    opacity: 0;
    transition: all 0.65s linear 0.2s;
}

@media screen and (max-width: 600px) {
    .chart-wrapper .chart-bars li {
        padding: 10px;
    }
}
