<!DOCTYPE html>
<html style="font-size: 16px;">
<html lang="en" xmlns:th="http://www.thymeleaf.org">

  <head>
    <title>Ansatte</title>
    <link rel="stylesheet" th:href="@{/css/employeeList.css}" media="screen" type="text/css">
    <link rel="stylesheet" th:href="@{/css/nicepage.css}" media="screen" type="text/css">
    <script class="u-script" type="text/javascript" th:src="@{/js/jquery.js}" defer=""></script>
    <script class="u-script" type="text/javascript" th:src="@{/js/nicepage.js}" defer=""></script>
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
  </head>
  <body class="u-body">
  <header th:replace="fragments/header :: header"></header>
  <button th:replace="modals/employee-modal.html :: employee-modal(${null})"></button>
  <div class="u-align-center u-clearfix u-section-1" id="sec-a4df">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-expanded-width u-table u-table-responsive u-table-1">
          <table class="u-table-entity u-table-entity-1">
            <colgroup>
<!--              set different column width of table-->
              <col width="11.7%">
              <col width="13.6%">
              <col width="17.5%">
              <col width="14.3%">
              <col width="14.3%">
              <col width="14.600000000000014%">
              <col width="14.000000000000014%">
            </colgroup>
            <thead class="u-palette-4-base u-table-header u-table-header-1">
              <tr style="height: 21px;">
                <th class="u-border-1 u-border-palette-4-base u-table-cell">Stilling</th>
                <th class="u-border-1 u-border-palette-4-base u-table-cell">Billede</th>
                <th class="u-border-1 u-border-palette-4-base u-table-cell">Navn</th>
                <th class="u-border-1 u-border-palette-4-base u-table-cell">Certifikater</th>
                <th class="u-border-1 u-border-palette-4-base u-table-cell">Telefon</th>
                <th class="u-border-1 u-border-palette-4-base u-table-cell">Email</th>
                <th class="u-border-1 u-border-palette-4-base u-table-cell">Timeløn</th>
                <th class="u-border-1 u-border-palette-4-base u-table-cell"></th>
<!--                Last th is for buttons so no header name necessary, still here for the design-->
              </tr>
            </thead>
            <tbody class="u-table-body">
              <tr style="height: 75px;" th:each="employee: ${employees}">
                <td class="u-border-1 u-border-grey-30 u-first-column u-grey-5 u-table-cell u-table-cell-8" th:text="${employee.getPosition()}">Stilling1</td>
                <td class="u-border-1 u-border-grey-30 u-table-cell u-align-center"><img style="border-radius: 50%" width="100px" height="100px" th:src="${employee.pictureLocation}" alt=""></td>
                <td class="u-border-1 u-border-grey-30 u-table-cell" th:text="${employee.getFirstName()} + ' ' + ${employee.getLastName()}">Navn1</td>
                <td class="u-border-1 u-border-grey-30 u-table-cell" th:text="${employee.getCertificates()}">Certifikater1</td>
                <td class="u-border-1 u-border-grey-30 u-table-cell" th:text="${employee.getPhone()}">Telefon1</td>
                <td class="u-border-1 u-border-grey-30 u-table-cell" th:text="${employee.getEmail()}">Email1</td>
                <td class="u-border-1 u-border-grey-30 u-table-cell" th:text="${employee.getWage()}">Timeløn1</td>
                <td class="u-border-1 u-border-grey-30 u-table-cell">
                  <a th:href="@{'/deleteEmployee/' + ${employee.getEmployeeId()}}">
                    <button class="u-btn u-button-style u-btn-1" onclick="return confirm('Er du sikker på, at du vil slette denne ansatte?')" style="background-color: crimson; color: white; width: 131.5px">
                      SLET
                    </button>
                  </a>
                  <button th:replace="modals/employee-modal.html :: employee-modal(${employee})"></button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>