<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" style="font-size: 16px">
<head>
    <title>Job typer og materialer</title>
<!--    <link rel="stylesheet" href="nicepage.css" media="screen">-->
    <link media="screen" rel="stylesheet" th:href="@{/css/caseDetails.css}" type="text/css">
    <link media="screen" rel="stylesheet" th:href="@{/css/nicepage.css}" type="text/css">
    <script class="u-script" defer="" th:src="@{/js/jquery.js}" type="text/javascript"></script>
    <script class="u-script" defer="" th:src="@{/js/nicepage.js}" type="text/javascript"></script>
    <link rel="stylesheet" href="calculator.css" media="screen">
    <script class="u-script" type="text/javascript" src="nicepage.js" defer=""></script>
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
</head>
<body class="u-body">
<header th:remove="tag" th:replace="fragments/header :: header"></header>
<p th:replace="modals/jobType-modal.html :: jobType-modal(null)"></p>

<section class="u-clearfix u-section-1" id="sec-1491">
    <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
            <div class="u-layout">
                <div class="u-layout-row">
                    <div class="u-container-style u-layout-cell u-size-30 u-layout-cell-1">
                        <div class="u-container-layout u-container-layout-1">
                            <h2 class="u-heading-font u-text u-text-default u-title u-text-1">Job typer</h2>
<!--                            table for jobtypes -->
                            <div class="u-clearfix u-sheet u-sheet-1">
                                <div class="u-table u-table-responsive u-table-1">
                                    <table class="u-table-entity">
                                        <colgroup>
                                            <col width="20%">
                                            <col width="20%">
                                            <col width="20%">
                                        </colgroup>
                                        <thead class="u-palette-4-base u-table-header u-table-header-1">
                                        <tr style="height: 35px;">
                                            <th class="u-border-1 u-border-palette-4-base u-table-cell">Beskrivelse</th>
                                            <th class="u-border-1 u-border-palette-4-base u-table-cell">Pris faktor</th>
                                            <th class="u-border-1 u-border-palette-4-base u-table-cell"></th>
                                        </tr>
                                        </thead>
                                        <tbody class="u-table-body">
                                        <tr style="height: 78px;" th:each="jobtype: ${jobTypeList}">
                                            <td class="u-border-1 u-border-grey-30 u-first-column u-grey-5 u-table-cell u-table-cell-5"
                                                th:text="${jobtype.getDescription()}"></td>
                                            <td class="u-border-1 u-border-grey-30 u-table-cell"
                                                th:text="${jobtype.getPrice()}"></td>
                                            <td class="u-border-1 u-border-grey-30 u-table-cell">
                                                <a th:href="@{'/deleteJobType/' + ${jobtype.getJobTypeId()}}">
                                                    <button onclick="return confirm('Er du sikker?')" style="background-color: crimson; color: white; width: 131.533px; margin: 0"
                                                            type="button" class="u-btn u-button-style u-btn-1">
                                                        SLET
                                                    </button>
                                                </a>
                                                <p th:replace="modals/jobType-modal.html :: jobType-modal(${jobtype})"></p>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="u-container-style u-layout-cell u-size-30 u-layout-cell-2">
                        <div class="u-container-layout u-container-layout-2">
                            <h2 class="u-heading-font u-text u-text-default u-title u-text-2">Materialer</h2>
<!--                            table for materials -->
                            <div class="u-clearfix u-sheet u-sheet-1">
                                <div class="u-table u-table-responsive u-table-1">
                                    <table class="u-table-entity">
                                        <colgroup>
                                            <col width="20%">
                                            <col width="20%">
                                            <col width="20%">
                                        </colgroup>
                                        <thead class="u-palette-4-base u-table-header u-table-header-1">
                                        <tr style="height: 35px;">
                                            <th class="u-border-1 u-border-palette-4-base u-table-cell">Beskrivelse</th>
                                            <th class="u-border-1 u-border-palette-4-base u-table-cell">Pris</th>
                                            <th class="u-border-1 u-border-palette-4-base u-table-cell"></th>
                                        </tr>
                                        </thead>
                                        <tbody class="u-table-body">
                                        <tr style="height: 78px;" th:each="material: ${materialList}">
                                            <td class="u-border-1 u-border-grey-30 u-first-column u-grey-5 u-table-cell u-table-cell-5"
                                                th:text="${material.getDescription()}"></td>
                                            <td class="u-border-1 u-border-grey-30 u-table-cell"
                                                th:text="${material.getPrice()}"></td>
                                            <td class="u-border-1 u-border-grey-30 u-table-cell">
                                                <a th:href="@{'/deleteJobType/' + ${material.getJobTypeId()}}">
                                                    <button onclick="return confirm('Er du sikker?')" style="background-color: crimson; color: white; width: 131.533px; margin: 0"
                                                            type="button" class="u-btn u-button-style u-btn-1">
                                                        SLET
                                                    </button>
                                                </a>
                                                <p th:replace="modals/jobType-modal.html :: jobType-modal(${material})"></p>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>