<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<section th:fragment="timeline(listOfDates, listOfTasks)">
    <div class="chart-wrapper">
        <div class="timeline-header">
            <div th:text="${dates[0].getMonth().value}"
            > </div>

<!--            todo add month slider -->
            <script th:src="@{/js/timeline.js}"></script>
            <link rel="stylesheet" th:href="@{/css/timeline.css}">
            <ul class="chart-values">
                <li th:attr="data-period=${day}" th:each="day : ${dates}"
                    th:text="${day.getDayOfWeek().name()}+'  '+${day.getDayOfMonth()}"></li>
            </ul>
            <ul class="chart-bars">
                <li data-color="#00BCD4" th:attr="data-duration=${task.task_start_date}+'/'+${task?.deadline},
                data-estimated_time=${task.est_time},
                data-percentage_done=${task.getPercentageDone()},
                data-href=${'#'+task.getTaskId()}"
                    th:each="task: ${mainTask?.getSubtasksAsList()}"
                    th:text="${task?.name}+' '+${task.getPercentageDone().toString()}+'%'"
                >
<!--                    todo add button element -->
                </li>
            </ul>
        </div>
    </div>


    <div th:each="task: ${mainTask?.getSubtasksAsList()}">
        <div th:replace="/modals/taskModal.html :: taskModal(${task})">

        </div>
    </div>
</section>

</html>