<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<section th:fragment="timeline(listOfDates, listOfTasks)">
    <div class="chart-wrapper">
        <script th:src="@{/js/timeline.js}"></script>
        <link rel="stylesheet" th:href="@{/css/timeline.css}">
        <ul class="chart-values">
            <li th:each="day : ${dates}" th:text="${day}"></li>
        </ul>
        <ul class="chart-bars">
<!--            todo replace with listoftask in -->
            <li th:each="task: ${mainTask?.getSubtasksAsList()}" data-color="#00BCD4"
                th:attr="data-duration=${task.task_start_date}+'½/'+${task?.deadline},
                data-estimated_time=${task.est_time}"
<!--                data-percent_done=${task.getDonePercentage}"-->
                th:text="${task?.name}"
            >

            </li>
        </ul>
    </div>
</section>

</html>